<% provide(:title, 'EVNT Buzz!') %>
<div class="container-fluid allpages">
  <div class="row page-deco">
    <div class="col-xs-12 message-frame">
      <h3 class="below_nav">Help me!</h3>
      <h3 >I am inside a box!</h3>
      <%= form_for @message, layout: :inline, remote: true do |f| %>
      <div style="display:none">
        <%= hidden_field_tag :socket_id %>
      </div>
      <section id='set-messages'>

        <ul class="messages">
          <li>
<b>Keith Tang</b><br>


        </ul>
      </section>
      <div class='row text_group'>
        <div class="col-xs-9">
          <%= f.text_area :message, placeholder: "Type your messages here"%><!--, cols: 20 -->
        </div>
          <div class="col-xs-3">
            <button type="submit" class="btn send-btn">
            <i class="fa fa-commenting"></i>
            </button>
            <!-- <%= f.submit 'send', class: "btn send-btn"  %> -->
            <% end %>
          </div>
      </div>
    </div>
  <!-- </div> -->
</div>
