<div class="container-fluid allpages">
  <div class="row">
    <div class='col-xs-2'></div>
    <div class="col-xs-8 message-frame">
      <%= form_for @message, layout: :inline, remote: true do |f| %>
      <div style="display:none">
        <%= hidden_field_tag :socket_id %>
      </div>
      <br>
      <br>
      <br>

      <section id='set-messages'>

        <ul class="messages"></ul>
      </section>
      <br><br><br><br><br><br><br><br><br><br><br><br>

      <div class='input-group'>

        <%= f.text_area :message, rows: 2, cols: 40 %>
        <%= f.submit 'Send' %>
        <% end %>
      </div>
      <div class='col-xs-2'></div>

    </div>

  </div>
</div>
