<% provide(:title, 'EVNT Buzz!') %>
<div class="container-fluid allpages">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 message-frame">
      <h3 class="below_nav">Hear me out!</h3>
      <%= form_for @message, layout: :inline, remote: true do |f| %>
      <div style="display:none">
        <%= hidden_field_tag :socket_id %>
      </div>
      <section id='set-messages'>
        <ul class="messages"></ul>
      </section>
      <br><br>
      <div class='input-group'>
        <%= f.text_area :message, rows: 2, cols: 40 %>
        <%= f.submit 'Send' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
