<li>
<%= image_tag(user.avatar_url(:small_avatar_))%>&nbsp;&nbsp;&nbsp;
<%= link_to user.name, user %>
<!-- <label id='user_herefor'><%= user.herefor %></label> -->
<div class='checkbox'>
  <label>
    <i class='fa fa-chevron-right'></i>
  </label>
</div>
<% if current_user.admin? && !current_user?(user) %>
<%= link_to "delete", user, method: :delete,
    data: { confirm: "You sure?" } %>
<% end %>
</li>
