<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<div class="container-fluid allpages">
  <div class="row">
    <div class="col-xs-2 message-frame"></div>
    <div class="col-xs-8 message-frame">
      <h2 class="below_nav">Update your profile</h2>
      <%= render 'editform' %>
      <div class="col-xs-2 message-frame"></div>
    </div>
  </div>
</div>
