<% provide(:title, 'EVNTLR Attendees') %>
<div class="container-fluid allpages">
  <div class="row">
    <div class="col-xs-12 message-frame">
      <h2 class="below_nav">Tonight's Attendees</h2>
      <ul class="users attendees">
      <hr>
        <%= render @users %>
        <br>
      </ul>
    </div>
  </div>
</div>
