<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>

<div class="container-fluid evmain-body">

  <div class="row">
    <div class="col-xs-12"></div>
    <div class="home-logo">
      <img src="/assets/brand-logo.png"/>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12"></div>
    <div class="check-in-form">
      <input type="text" name="firstname" value="firstname" class='fname'>
      <br><br>
      <input type="text" name="lastname" value="lastname" class='lname'>
      <br><br>
      <input type="submit" value="Check-in" class='checkin'>
    </div>
  </div>
</div>
