<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Sign up') %>
<div class="container-fluid allpages">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 message-frame">
      <h2 class="below_nav">Sign up</h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
