<% provide(:button_text, 'Sign up') %>

<div class="container-fluid welcome-body">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2"></div>
    <div class="home-logo">
      <img src="/assets/brand-logo.png"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="check-in-form">
        <%= render 'users/form', :@user => User.new %>
        <% if logged_in? %>
          <%= button_to "Check In", current_user, class: "btn checkin", method: :get%>
        <% else %>
          <%= button_to "Check In", login_path, class: "btn checkin", method: :get%>
        <% end %>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
