<!-- change here -->
<% provide(:title, 'EVNTLR') %>

<div class="container-fluid banner_poster">
  <div class="row">
    <div class="col-xs-12 message-frame">
      <p><img src="/assets/welcome_index.png" /></p>
      <p><img src="/assets/user_edit.png" /></p>
    </div>
  </div>
</div>
