<!-- change here -->
<% provide(:title, 'EVNTLR') %>

<div class="container-fluid allpages">
  <div class="row page-deco">
    <div class="col-xs-12 message-frame">
      <p><%= image_tag 'welcome_index.png' %></p>
      <p><%= image_tag 'user_edit.png' %></p>
      <p><%= image_tag 'user_index.png' %></p>
      <p><%= image_tag 'message_index.png' %></p>
    </div>
  </div>
</div>
