$(function() {

  //use for production
  //var pusher = new Pusher('0cdf7561a0fb9a4dcab5');

  //use for local host


  var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');


  var channel1 = pusher.subscribe('chat');
  var schedulechannel = pusher.subscribe('schedule');

  pusher.connection.bind('connected', function() {
    var socket_id = pusher.connection.socket_id;

    $('#socket_id').val(socket_id);
  });

  schedulechannel.bind('new_schedule_message', function (data) {
    appendToScheduleMessages(data);
  });

  channel1.bind('new_message', function (data) {
    appendToMessages(data);
  });

  function appendToMessages(data) {
    var date = new Date();
    var hhmm = date.getHours() + ":" + date.getMinutes();
    $('.messages').append("<li><div id='user_chat'><img src=" + data.avatar + "><b></div><p id='user_chat_name'><span id='user_name'>" + data.name + "</span></b><span id='created_at'>" + data.timestamp + "</span><br>" + data.message + "</p></li>");
  }

  function appendToScheduleMessages(data) {
    $('.schedule_messages').append("<li><div id='user_chat'><img src=" + data.avatar + "><b></div><p id='user_chat_name'><span id='user_name'>" + data.name + "</span></b><span id='created_at'>" + data.timestamp + "</span><br>" + data.message + "</p></li>");
  }

});
