$(function() {

  //use for production
  //var pusher = new Pusher('0cdf7561a0fb9a4dcab5');

  //use for local host
  var pusher = new Pusher('1d094167ddfc22dca54c');

  var channel1 = pusher.subscribe('chat');
  var schedulechannel = pusher.subscribe('schedule');

  pusher.connection.bind('connected', function() {
    var socket_id = pusher.connection.socket_id;

    $('#socket_id').val(socket_id);
  });

  schedulechannel.bind('new_schedule_message', function (data) {
    appendToScheduleMessages(data);
  });

  channel1.bind('new_message', function (data) {
    appendToMessages(data);
  });

  function appendToMessages(data) {
    $('.messages').append('<hr><li><b><img src=' + data.avatar +'>' + data.name + '</b><br> ' + data.message + '</li>');
  }

  function appendToScheduleMessages(data) {
    $('.schedule_messages').append('<hr><li><b><img src=' + data.avatar +'>' + data.name + '</b><br> ' + data.message + '</li>');
  }

});
