$(function() {


  var pusher = new Pusher('9a29dc21625531215e18');
  var channel1 = pusher.subscribe('chat');
  var schedulechannel = pusher.subscribe('schedule');

  pusher.connection.bind('connected', function() {
    var socket_id = pusher.connection.socket_id;

    $('#socket_id').val(socket_id);
  });

  schedulechannel.bind('new_schedule_message', function (data) {
    appendToScheduleMessages(data);
  });

  channel1.bind('new_message', function (data) {
    appendToMessages(data);
  });

  function appendToMessages(data) {
    $('.messages').append('<br><li><b>' + data.name + '</b><br> ' + data.message + '</li>');
  }

  function appendToScheduleMessages(data) {
    $('.schedule_messages').append('<br><li><b>' + data.name + '</b><br> ' + data.message + '</li>');
  }


});
