
ul {
  list-style: none;
}

li {
  list-style: none;
}

div#user_chat {
  margin-left: 20%;
  float: left;
  // border: 2px solid;
}

p#user_chat_name {

  // padding-right: 25%;
  // font-weight: bold;
  // float: right;
  margin-right: 10%;
  padding-bottom: 5%;
  // display: inline;
  text-align: center;
  word-wrap: break-word;
}

#set-messages {
  display: inline;
  width: 30px;
}

.text_group {
  display: inline-block;
  margin-top: 50vh;
  margin-bottom: 10vh;
  // width: 100vw !important;
}
textarea#message_message {
  width: 50vw !important;
  height: 8vh !important;
}

hr {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
// li{
//   background-color: yellow;
// }
// .message-frame li:nth-child(even){
//   background-color: red;
// }
