
ul {
  list-style: none;
}

li {
  list-style: none;
}

ul.users {
  padding-left: 0px;
}

.users a {
  text-decoration: none;
  font-size: 2em;
  color: #6441A5;
}

.users a:hover {
  text-decoration: none;
  color: indigo;
}

#set-messages {
  display: inline;
  width: 30px;
}

.input-group {
  display: inline-block;
  margin-top: 50vh;
  margin-bottom: 10vh;
  width: 100vw !important;
}
textarea#message_message {
  width: 50vw !important;
  height: 8vh !important;
}
