
ul {
  list-style: none;
}

li {
  list-style: none;
}
#set-messages {
  display: inline;
  width: 30px;
}

.input-group {
  display: inline-block;
  width: 30px;
  margin-top: 400px;
  margin-bottom: 40px;
}
