.home-logo {
  width : 40vh;
  margin : 20vh auto;
}

.home-logo img {
  width : 100%;
}

.allpages {
  background-color: white;
<<<<<<< HEAD
  height: 200%;
=======
  min-height: 800px;
  background-repeat: repeat;
  overflow-y: scroll;
>>>>>>> 47cb04ecd035b322ae111876aa41db21bb98ae16
}
.message-frame{
  padding: 20vh auto;
  height: 800px;
  text-align: center;
  background-color: white;
}

.check-in-form {
  width : 40vh;
  margin : 20vh auto;
    text-align:center;
}
