
.allpages {
  background-color: white;
  // min-height: 900px;
  background-repeat: repeat;
  overflow-y: scroll;
}
// li{
//   background-color: yellow;
// }
.attendees li:nth-child(even){
  background-color: lavender;
}



.page-deco {
  // background: url('/assets/balloon.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
}
.page-deco::after {
  background: url('/assets/balloon.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.message-frame{
  padding: 20vh auto;
  height: 700px;
  // text-align: center;
  background-color: white;
  // background-size: 100% 100%;
  // opacity: 0.3;
}
.below_nav {
  font-weight: bold;
  color: indigo;
  font-family: Arial !important;
  font-size: 1.7em !important;
  text-align: left;
  letter-spacing: 1.5px;
  margin-top: 10vh;

}

//* Attendees list Page *//
ul.users {
  padding-left: 0px;
  margin: 1em 0;
  width: 100%;

}

.message-frame li:nth-child(even) {
  background-color: white;
}

.table_bio tr:nth-child(even) {
  background-color: white;
}

.users li {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 10px 10px 10px 20px;
  text-align: left;
  // list-style-image: url(':large_avatar');
  background-color: #9f81f7;
  // background-color: #d8cef6;
  list-style-position: inside;
}
.users a {
  text-decoration: none;
  font-size: 1.5em;
  color: indigo;
  margin: 0;
}

.users a:hover {
  text-decoration: none;
  color: MediumPurple;
}

.profilepic {
  width:15em;
  height: 15em;
  margin:auto;
  border: solid #6441A5;
  border-radius: 5px;

}
// .message-frame {
//   background: url('/assets/balloon.jpg') no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

.table {
  text-align: left;
  width: 100%;
  background-color: #d8cef6;
  border-radius: 5px;


}

td a {
  color: indigo;
  font-size: 1em;
  text-decoration: underline;
}

td {
  color: indigo;
  font-size: 1em;
  padding: 15px;
}

.checkbox {
  float: right;
}
