<div id='footer-navbar'>
<div class='navbar navbar-fixed-bottom'>
  <div class="container-fluid">
    <div class='row'>
      <div class="col-xs-4 evicon">
      <li><%= link_to'<span><i class="fa fa-4x fa-users"></i></span>'.html_safe, users_path, method: "GET"%></li>
    </div>

    <div class="col-xs-4 evicon">
      <li><%= link_to'<span><i class="fa fa-4x fa-list"></i></span>'.html_safe, schedule_messages_path, method: "GET"%></li>
    </div>

    <div class="col-xs-4 evicon">
      <li><%= link_to'<span><i class="fa fa-4x fa-commenting"></i></span>'.html_safe, messages_path, method: "GET"%></li>
    </div>

  </div>
</div>
</div>
</div>
<br>
